body {
    background-color: white;
    min-width: 300px;
}

/* NAVABR */
#navbar-container {
    background-color: antiquewhite;
    display: flex;
    margin-bottom: 10px;
}

#navbar-container nav {
    margin: auto;
}

/* CONTENT */
#filter-items-content-container {
    display: flex;
    background-color: antiquewhite;
    padding: 0px;
    max-width: 960px;
    margin: 20px auto;
    flex: 1 1 auto;
}

.filter {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    text-align: left;
    align-items: left;
    min-width: 150px;
    padding: 0px 10px;
}

.form-group {
    margin: 10px 0px;
}

#items-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 0px 0px;
    align-items: center;
    align-content: center;
}

.card {
    margin: 10px auto;
    height: 300px;
    width: 250px;
    align-content: center;
    align-items: center;
    flex-basis: 30%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid wheat;
    vertical-align: middle;
}

.card img {
    height: 200px;
    width: 100%;
    align-items: center;
    display: flex;
    border-radius: 12px;
    object-fit: cover;
    margin: auto;
}

.card-body {
    margin: 0;
    padding: 0;
    flex: 0;
    margin: 10px auto;
}

.card-body p{
    margin: 0;
}


/* FOOTER */
footer {
    background-color: antiquewhite;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
}

.footer-con {
    display: flex;
    justify-content: center;
    text-align: right;
    flex-wrap: wrap;
    max-width: 960px;
}

.content {
    margin: auto;
}

@media only screen and (max-width: 1030px) {    
    .card {
        min-width: 150px;
    }
}

@media only screen and (max-width: 769px) {
    #filter-items-content-container {
        flex-direction: column;
    }

    .filter {
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: 15px auto;
    }

    .form-group {
        margin: 0px 10px;
    }

    #items-container {
        margin: 0px 20px;
    }
    
    .card {
        height: 100%;
        flex-basis: 45%;
        margin: 10px auto;
    }
    
    .footer-con {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (max-width: 420px) {
    .card {
        flex-basis: 100%;
        width: 200px;
    }
    
    .footer-con {
        flex-direction: column;
        text-align: center;
    }
}